html, body {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
}

.cell {
    padding: 15px; 
}
.cell-body {
    height: 100%;
    padding: 15px;
    background-color: #FF9217; 
    color: #ffffff; 
}

.row-height {
    min-height: 100px !important; 
}
 
.height-100 {
    height: 100% !important;
}